<div class="hero">
  <br />
  <div class="frosty col-xs-10 col-xs-offset-1 text-center">
    <br />
    <h1>Learn Magic from the Pros</h1>
    <br />
    <h2>Courses taught by the best around</h2>
    <br />
    <%= link_to 'Learn More', courses_path, class: 'btn btn-success' %>
    <br />
    <br />
  </div>
</div>

<br />
<div class="col-xs-10 col-xs-offset-1 features text-center">
  <div class="col-sm-4">
    <h3>Step by step video instructions on how to build an awesome web application that looks good on mobile and is live on the internet in one fun weekend</h3>
  </div>

  <div class="col-sm-4">
    <h3>Learn the latest technologies used by the best Startups to build and launch products fast</h3>
  </div>

  <div class="col-sm-4">
    <h3>All the code snippets, cheat sheets, and notes you need to continue building application on your own after the class is over</h3>
  </div>
</div>
